
/****  Variables  ****/

@white: #efefef;
@orange: tomato;

@height: 200px;

/****  Base  ****/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background:#efefef;
    font-family: arial;
    font-size: 18px;
}

p {
    margin-bottom: 40px;

&:last-child {
     margin-bottom: 0px;
 }
}

h1, h2, h3 {
    margin: 10px 0 20px 0;
}


/****  Header  ****/

.header {
    background: tomato;
    height: 200px;
    color: white;
}

.header-fixed {
    background: tomato;
    font-size: 14px;
    position: fixed;
    line-height: 40px;
    height: 40px;
    text-indent: 20px;
    width: 100%;
}

.header-notFixed {
    line-height:200px;
    text-align: center;
    font-size: 28px;

p {
    z-index: 9999;
    position: relative;
}
}
.btn {
    color: #fff; /* Белый цвет текста */

}

/****  Content  ****/

.content {
    width: 80%;
    max-width: 1800px;
    background: #ffffff;
    margin: 150px auto;
    min-height: 700px;
    padding: 100px;
    color: #444;
    position: center;
}
.name-log {
    text-align:  center;
}
.sihb-bt {
    display: inline-block; /* Строчно-блочный элемент */
    background: #9ACD32; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 10px 15px; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 10px; /* Скругляем уголки */
}

* {
    box-sizing: border-box;
}

/* Add padding to containers */
.container {
    padding: 16px;
    background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
    background-color: #9ACD32;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}